* {
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
  }
  body {
    font-family: Arial;
    padding: 10px;
    background: #dfdfdf;
  }
  .header {
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-image {
    background: url(../img/header.jpg) no-repeat center; 
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
  }
  .header h1 {
    font-size: 450%;
    }
    .header p {
    font-size: 150%;
    }
  
  .topnav {
    overflow: hidden;
    background-color: #000B29;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.9;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #D70026;
    color: white;
  }
  div a.active {
    background-color: #EDB83D;
    color: white;
  }
  .middlecolumn {
    float: left;
    width: 100%;
  }
  .middlecolumn h2{
    text-align: center;
    font-size: 250%;
  }
  .column {
    float: left;
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    color: #ffffff;
  }
  .column1 {
    float: left;
    width: 50%;
    padding: 5px;
    color: #ffffff;
  }
  .column a{
    text-decoration: none;
    color:#EDB83D;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .card1 {
    background-color: white;
    padding: 2%;
    margin-top: 2%;
    float: left;
    width: 22%;
    text-align: center;
  }
  .card_empty{
    padding: 2%;
    margin-top: 2%;
    float: left;
    width: 4%;
  }
  .card1:hover {
    box-shadow:5px 5px 15px 7px #888888;
  }
  .card1 p {
    text-align: center;
    font-size: 90%;
    font-weight: bold;
  }
  .card1 a {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
  }
  .be_footer {
    background: url(../img/footer.jpg) no-repeat center; 
    background-size: cover;
    height: 100%;
    weight:100%;
    position: relative;
  }
  .footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .footer p {
    color:white;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 4px solid black;
    outline: black;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    border-color: #000000;
  }

  #myBtn:hover {
    background-color: #555;
  }
      red::after {
        @extend %i;
        @extend %i-percent;
        content:'';
        margin: 0;
        position: absolute;
        top: 6px;
        right: 8px;
        left: auto;
      }
      