.grid-container {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: auto auto auto auto auto auto
  ;
background-image: url(Slike/TŠČ1.jpg);
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 20px;
  text-align: center;

}

.grid-item3 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
}